__pycache__
.gitignore
cell2cell_350nm/
cell2cell_350nm_bkup/
cell2cell_350nm_tr/
cell2frame_65nm/
speedsystem_350nm/
asic_alice/
TritonRoute/
example_log.txt
router_log.txt
routing_params.txt
routing_two.txt
/py2asic_test
